## Load libraries

In [1]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
print(f"Pandas: {pd.__version__}")

Pandas: 1.2.4

## Load metadata

In [3]:
filenames_df = pd.read_csv("https://raw.githubusercontent.com/xiaoxi-david/malfunctioning-machines/main/jupyter/csv/filenames.csv")

In [4]:
filenames_df.sample(5)

                                  filename
1508  pump\train\normal_id_00_00000652.wav
3380  pump\train\normal_id_06_00000111.wav
969   pump\train\normal_id_00_00000113.wav
2908  pump\train\normal_id_04_00000241.wav
1543  pump\train\normal_id_00_00000687.wav

In [5]:
machines_df = (
    filenames_df["filename"]
    .str.extract(r"(pump).(train|test).(normal|anomaly)_id_(\d{2})_\d{4}(\d{4})", expand=True)
    .rename(columns={0: "machine_type", 1: "split", 2: "label", 3: "machine_id", 4: "audio_id", 5: "ext"})
)

In [6]:
machines_df.sample(5)

     machine_type  split   label machine_id audio_id
580          pump   test  normal         02     0024
735          pump   test  normal         04     0079
3364         pump  train  normal         06     0095
738          pump   test  normal         04     0082
560          pump   test  normal         02     0004

## Dataframe manipulation

In [7]:
machines_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4205 entries, 0 to 4204
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   machine_type  4205 non-null   object
 1   split         4205 non-null   object
 2   label         4205 non-null   object
 3   machine_id    4205 non-null   object
 4   audio_id      4205 non-null   object
dtypes: object(5)
memory usage: 164.4+ KB

In [8]:
machines_df.memory_usage(deep=True)

Index              128
machine_type    256505
split           259854
label           265371
machine_id      248095
audio_id        256505
dtype: int64

In [9]:
dct_types = {
    "machine_type": "category",
    "split": "category",
    "label": "category",
    "machine_id": "category",
    "audio_id": "category",
}
machines_df = machines_df.astype(dct_types)

In [10]:
machines_df.dtypes

machine_type    category
split           category
label           category
machine_id      category
audio_id        category
dtype: object

In [11]:
machines_df.sample(5)

     machine_type  split    label machine_id audio_id
1210         pump  train   normal         00     0354
1596         pump  train   normal         00     0740
1796         pump  train   normal         02     0034
1807         pump  train   normal         02     0045
191          pump   test  anomaly         02     0048

In [12]:
machines_df.memory_usage(deep=True)

Index             128
machine_type     4374
split            4436
label            4440
machine_id       4613
audio_id        98570
dtype: int64

In [13]:
machines_df.memory_usage(deep=True)

Index             128
machine_type     4374
split            4436
label            4440
machine_id       4613
audio_id        98570
dtype: int64

## Summary

In [14]:
(
    machines_df
    .filter(["machine_id", "split", "label", "audio_id"])
    .pivot_table(
        values="audio_id",
        index=["machine_id"],
        columns=["split","label"],
        aggfunc='count',
        fill_value=0,
        observed=True)
)

split         test         train
label      anomaly normal normal
machine_id
00             143    100    906
02             111    100    905
04             100    100    602
06             102    100    936